body{
    background-color:  #11936e;
}
/*
    Style the wrapper:
    wrapper is container for the background,
    blue and pink colors are distributed dynamically using linear gradient.
*/
.wrapper{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background: linear-gradient(
            0turn,
            rgba(248, 199, 231, 255) 0%,
            rgba(198, 221, 236, 255) 0%
    );
}
.main-title{
    position: relative;
    margin: 0;
    font-size: 20vh;
    text-align: center;
    color: #11936e;
    display: block;
    font-family: 'Roboto', sans-serif;
}
.heading{
    position: relative;
    margin: 0 auto;
    font-size: 8vh;
    text-align: center;
    color: #11936e;
    display: block;
    font-family: 'Roboto', sans-serif;
}
.textContent p{
    background-color: rgba(113, 131, 132, 0.8);
    font-family: 'Catamaran', sans-serif;
    font-size: 21px;
    text-align: justify;
    margin: 5% auto;
    width: 90%;
    padding: 20px;
    background-position: center;
    background-size: cover;
}
.startLetter{
    font-family: 'Roboto', sans-serif;
    color: #11936e;
    font-size: 26px;
}
.main-photo-container{
    height: 30%;
    width: 30%;
    margin: 0 auto;
}